@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border: 2px solid red;
    padding: 20px;
    font-size: 50px;
    color: cyan;
    border-radius: 20px;
    box-shadow: 8px 8px 50px 2px rgb(145, 145, 145);
    font-family: 'Lora', serif;
}